{%- include snippets/assign.html
  target=site.data.variables.default.page.show_author_profile
  source0=layout.show_author_profile source1=page.show_author_profile -%}
{%- assign _show_author_profile = __return -%}

{%- include snippets/assign.html
  target=site.data.variables.default.page.show_subscribe
  source0=layout.show_subscribe source1=page.show_subscribe -%}
{%- assign _show_subscribe = __return -%}

<footer class="article__footer">
  {%- if page.modify_date -%}

    <span>{{ site.data.locale.[site.active_lang].LAST_UPDATED }}
      <time itemprop="dateModified" datetime="{{ page.modify_date | date_to_xmlschema }}">{{ page.modify_date | date: site.data.locale.[site.active_lang].ARTICLE_DATE_FORMAT }}</time>
    </span>
  {%- elsif page.date -%}
    <meta itemprop="dateModified" content="{{ page.date | date_to_xmlschema }}">
  {%- endif -%}

  {%- include article/footer/custom.html -%}

  {%- if _show_author_profile -%}
    {%- if page.author -%}
      {%- assign _author = site.data.authors[page.author] -%}
    {%- else -%}
      {%- assign _author = site.author -%}
    {%- endif -%}
    {%- include article/footer/author-profile.html author=_author -%}
  {%- endif -%}

  {%- if _show_subscribe -%}
    <div class="article__subscribe">{%- include article/footer/subscribe.html -%}</div>
  {%- endif -%}

  {%- if site.license -%}
    <div class="article__license">{%- include article/footer/license.html license=site.license -%}{{site.markdown}}{{site.license}}{{site.author.bio}}</div>
  {%- endif -%}
</footer>
