/* start custom scss snippet */

 @media only screen and (min-width: 1024px) {
    .nav-dropdown {
        padding:0 20px
    }

    .nav-dropdown li {
        position: relative;
        margin-top: 0
    }

    .nav-dropdown li a,.nav-dropdown li span {
        padding: 20px;
        line-height: 1;
        display:block;
    }

    .nav-dropdown li a svg,.nav-dropdown li span svg {
        display: inline;
        height: 15px;
        vertical-align: middle;
        margin-left: 8px;
        fill: $header-background;
        transition: all .2s cubic-bezier(.2,.3,0,1)
    }

    .nav-dropdown li a:hover,.nav-dropdown li span:hover,.nav-dropdown li:hover span {
    }

    .nav-dropdown li:hover span svg {
        transform: translateY(2px)
    }

    .nav-dropdown li:hover ul {
        opacity: 1;
        visibility: visible;
        transform: translate(0)
    }

    .nav-dropdown li ul {
        position: absolute;
        z-index: 1;
        top: 52px;
        left: -10px;
        list-style: none;
        margin: 0;
        padding: 0 0 12px;
        background: $header-background;
        border-radius: 0 0 4px 4px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-8px);
        transition: all .2s cubic-bezier(.2,.3,0,1);
    }

    .nav-dropdown li ul li {
        padding: 0 30px;
    }

    .nav-dropdown li ul li:first-child {
        margin-top: -1px
    }

    .nav-dropdown li ul li a {
        padding: 12px 0;
        border-top: 1px solid #262633;
        white-space: nowrap;
        text-align: center;
        vertical-align: middle;
    }

    //flag icons
    .nav-dropdown img {
        height: 0.8rem;
    }

}
/* end custom scss snippet */
